<table class="table table-bordered table-sm ">
  <thead class="thead-light">
    <tr>
      <th scope="col">Commenter</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>
      <td>
        <% comment.images.each do |image| %>
        <%= image_tag image, height: "200px", width: "200px" %>
        <% end %>
      </td>

      <td>
        <button type="button" class="btn btn-outline-danger">
          <%= link_to ' Destroy Comment', [comment.article, comment],
          method: :delete, data: { confirm: "Are you sure?" } %>
        </button>
      </td>
    </tr>
  </tbody>
</table>
