<table class="table table-bordered table-sm">
  <thead class="thead-light">
   <tr>
      <th scope="col">User Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.surname %></td>
      <td><%= @user.role.name %></td>
    </tr>
    <tr>
      <td colspan="3">
        <button type="button" class="btn btn-outline-danger">
          <%= link_to "Destroy user", user_path(@user),method: :delete, data: { confirm: "Are you sure?" } %>
        </button>
      </td>
    </tr>
  </tbody>
</table>
